@* This view renders the navigation menu based on the user's roles. *@
@model dynamic
@{
    var isSignedIn = (bool)ViewBag.IsSignedIn;
    var isAdmin = (bool)ViewBag.IsAdmin;
    var isApprover = (bool)ViewBag.IsApprover;
}
<ul class="navbar-nav ms-auto">
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index">
            <i class="bi bi-house-door me-1"></i>Beranda
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Dashboard" asp-action="Index">
            <i class="bi bi-speedometer2 me-1"></i>Dashboard
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" asp-area="" asp-controller="Reservation" asp-action="Index">
            <i class="bi bi-calendar-check me-1"></i>Reservasi
        </a>
    </li>
    @if (isSignedIn && isApprover)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Approval" asp-action="Index">
                <i class="bi bi-check-circle me-1"></i>Persetujuan
            </a>
        </li>
    }
    @if (isSignedIn && isAdmin)
    {
        <li class="nav-item">
            <a class="nav-link" asp-area="" asp-controller="Report" asp-action="Index">
                <i class="bi bi-graph-up me-1"></i>Laporan
            </a>
        </li>
    }
</ul>
